#verNav {
    background-color: #f8f8f8;
    border-style: solid;
    border-bottom-style: none;
    border-top-style: none;
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 10px 10px 0 10px;
    height: 100%;
}

#navbar {
    margin-bottom: 0 !important;
}

#mainDiv {
    margin-top: 20px;
}

#tblOpt {
    width: 100px;
}